*{
  margin: 0;
  padding: 0;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid red;
}
.boxL{
    width:100%;
    display: grid;
    justify-items: center;
    border: 2px solid yellow;
}
.infoContainer{
  width:100%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  border: 2px solid orange;
}
.boxR{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid purple;
}
h1{
  font-size: 3rem;
}

button{
  font-size: 1.5rem;
  padding:0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
}
button:hover{
  border: 3px solid crimson;
}
img{
  height:350px;
  width:200px;
  display: none;
}


iframe{
  display:none;
}
